//Font
$font-family-default: SBBWeb, sans-serif;
$font-size-l: 22px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-weight-ultra-light: 50;
$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-roman: 500;
$font-weight-condensed-bold: 600;
$font-weight-condensed-heavy: 650;
$font-weight-bold: 700;
$line-height-m: 1.3;
//Media queries
$screen-s: 600px;
$screen-m: 900px;
$screen-l: 1200px;
//Transitions
$transition-duration-default: .25s;