@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Driveeinstellungen";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<div class="row">
    <div class="col-md-6">
        <p>Sprache</p>
        <input type="radio" name="Language" value="Deutsch" checked> Deutsch <!--Gleicher Name -> Nur ein Button kann gleichzeitig gechecked sein.-->
        <input type="radio" name="Language" value="Englisch"> Englisch
        <input type="radio" name="Language" value="Französisch"> Franzoesisch
        <input type="radio" name="Language" value="Japanisch"> Japanisch
        <input type="radio" name="Language" value="Russisch"> Russisch
        <input type="radio" name="Language" value="Hindu"> Hindu
    </div>
</div>
<div class="col-md-6">
    <p>Kompression</p>
    <input type="radio" name="Compression" value="Original" checked> Original
    <input type="radio" name="Compression" value="Hoch"> Hoch
    <input type="radio" name="Compression" value="Mittel"> Mittel
    <input type="radio" name="Compression" value="Leicht"> Leicht
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
