@import url('https://fonts.google.com/?selection.family=Titillium+Web');
h1 {
    padding-bottom: 80px;
    text-align: center;
}
#vname {
    font-family: 'Titillium Web', sans-serif;
    padding-right: 400px;
    background-color: #262626;
    color: white;
    
}

#name {
    font-family: 'Titillium Web', sans-serif;
    padding-right: 400px;
    background-color: #262626;
    color: white;
}

#email {
    font-family: 'Titillium Web', sans-serif;
    padding-right: 400px;
    background-color: #262626;
    color: white;
}

#kommentar {
    font-family: 'Titillium Web', sans-serif;
    padding-right: 900px;
    padding-bottom: 300px;
    background-color: #262626;
    color: white;
}

#senden{
    font-family: 'Titillium Web', sans-serif;
    padding-right: 50px;
}

html {
    background-color: black;
}

form {
    text-align: center;
}

nav {
    display: flex;  /* Von dieser Zeile an kopiert von Sebastian Berchtold */
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Bis zu dieser Zeile kopiert von Sebastian Berchtold */
    background-color: none;
    font-family: "Arial Black", sans-serif;
    font-size: 1.5em;
}

h1 {
    color: white;
    font-family: "Arial Black", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: darkcyan;
}

html {
    background-image: url(kontakt.png);
}