@import url('https://fonts.google.com/?selection.family=Titillium+Web');
img {
    width: 70%;
    height: auto;
    
}

html {
    background-image: url(starcraft.jpg);
    background-color: black;
}


nav {
    display: flex;  /* Von dieser Zeile an kopiert von Sebastian Berchtold */
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-bottom: 800px;
    overflow: hidden; /* Bis zu dieser Zeile kopiert von Sebastian Berchtold */
    background-color: none;
    font-family: "Arial Black", sans-serif;
    font-size: 1.5em;
}

a {
    color: white;
    text-decoration: none;
}

.Textfeldstarcraft {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    width: 1000px;
    height: auto;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    background-color: #998A8A;
    color: white;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.active {
    background-color: darkcyan;
}