img {
    width: 100%;
    height: auto;
}

html {
    background-image: url(homebild.jpg);
    background-color: #4D4545;
}

nav {
    display: flex;  /* Von dieser Zeile an kopiert von Sebastian Berchtold */
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Bis zu dieser Zeile kopiert von Sebastian Berchtold */
    background-color:none;
    font-family: "Arial Black", sans-serif;
    font-size: 1.5em;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: darkcyan;
}

a:hover {
    background-color: #;
}