ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

li{
  text-align: center;
  display: flex;
  margin: 0 20px 20px;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.movie-title {
  margin-bottom: 10px;
  cursor: pointer;
}

.back-button{
  visibility: hidden;
}
